/* Site Blocker Extension Styles */

    body {
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      width: 300px;
    }
    input, button {
      width: auto;
      padding: 8px;
      margin-top: 8px;
      border-radius: 20px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
    button.remove {
      background: red;
      color: white;
      border: none;
      padding: 2px 10px;
      font-size: 12px;
      border-radius: 12px;
      cursor: pointer;
      width: auto;
      min-width: 0;
    }
